body {
    overflow-x: hidden;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

h3, h1 {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .main {
        flex-direction: column;
    }
    .button {
        margin-top: 10px !important;
    }
}